* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
/resources/js export-ignore
/public/js export-ignore
/tailwind.config.js export-ignore
/vite.config.js export-ignore
/postcss.config.js export-ignore
/webpack.mix.js export-ignore
